@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
 
  overflow-x: hidden;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.main-body {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}



.header {
  box-shadow: 2px 2px 2px 1px rgba(122, 156, 132, 0.6);
}








/* .res-card {
  box-shadow: 1px 0px 2px 2px rgba(90, 87, 87, 0.551);
} */
